    /* NEW 16/05 */
    .body {
      font-family: "Roboto Lt", sans-serif;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */    
    .content {
      height: 100%;
    }
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #ffffff;
      height: 100vh;
    }
    
  @media screen and (min-width: 1500px){
    #right-bg1 {
      display: none;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: #ffffff;
      color: #141618;
      width: 0%;
      margin: 0;
      z-index: 3;
    }
    #right-bg2 {
      display: none;
      position: absolute;
      right: 0;
      bottom: 0;
      top: 0;
      background-color: #ffffff;
      color: #141618;
      width: 0%;
      height: 0%;
      margin: 0;
      z-index: 4;
    }
    #map_area {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: rgb(255, 255, 255);
      color: #fff;
      width: 100%;
      margin: 0;
      min-height: 100%;
      height: 100%;
    }

    #map { position:absolute; top:0; bottom:0; left:0; min-height:100%; width:100%;}

    #LocButton {
      margin-left: 15%;
      margin-top: 60px;
      font-family: "Roboto Lt", sans-serif;
      border-radius: none;
      padding: 8px 11px;
      letter-spacing: 1px;
      text-transform: uppercase;
      background: #324e6f;
      color: #fff;
      font-size: 15px;
      border-color: transparent;
      pointer-events: none;
    
    }
    
    #LocButton2 {
      margin-left: 30%;
      margin-top: 60px;
      font-family: "Roboto Lt", sans-serif;
      border-radius: none;
      padding: 8px 11px;
      letter-spacing: 1px;
      text-transform: uppercase;
      background: rgba(224, 166, 95, 0.9);
      color: #fff;
      font-size: 15px;
      border-color: transparent;
      pointer-events: none;
    
    }
    #arrow {
      display:none;
    }
    .arrow {
      display:none;
    }
  }

  @media only screen and (min-width : 1200px){
    #arrow {
      display:none;
    }
    .arrow {
      display:none;
    }
  }

  @media only screen and (min-width : 768px) and (max-width : 1199px){
    #right-bg1 {
      margin-left: 10%;
      margin-right: 20%;
      background-color: #ffffff;
    }
    #right-bg2 {
      background-color: #ffffff;
      }
    #map { 
      position:absolute; top:0; bottom:0; left:0; width:100%; height:100%;
    }
  }


#map { position:absolute; top:0; bottom:0; left:0; width:100%; height:100%;}

body { margin:0; padding:0; width:100%; height: 100%;}

.svgCanvas {
  border: solid 1px;
  width : 100%;
}

#menu {
background: #fff;
position: absolute;
z-index: 2;
margin-top: 80px;
left: 10px;
border-radius: 3px;
width: 120px;
border: 1px solid rgba(0,0,0,0.4);
font-family: 'Open Sans', sans-serif;
}

#menu a {
font-size: 13px;
color: #404040;
display: block;
margin: 0;
padding: 0;
padding: 10px;
text-decoration: none;
border-bottom: 1px solid rgba(0,0,0,0.25);
text-align: center;
}

#menu a:last-child {
border: none;
}

#menu a:hover {
background-color: #f8f8f8;
color: #4e4a4a;
}

#menu a.active {
background-color: #a1a1a1;
color: #ffffff;
}

#menu a.active:hover {
background: #3f7aa3;
}

.button {
background-color: #383333; /* Black */
border-radius: none;
color: white;
padding: 10px 24px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 12px;
border-color: transparent;
pointer-events: none;
}

#right-bg1 {
  background-color: #ffffff;
  /* CHANGED 12/05 -- from 100vh to 100% */
  height: 100%;
}

#LocButton {
  margin-left: 140;
  margin-top: 60px;
  font-family: "Roboto Lt", sans-serif;
  border-radius: none;
  padding: 8px 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: #324e6f;
  color: #fff;
  font-size: 15px;
  border-color: transparent;
  pointer-events: none;
}

#LocButton2 {
  margin-left: 140;
  margin-top: 60px;
  font-family: "Roboto Lt", sans-serif;
  border-radius: none;
  padding: 8px 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: rgba(224, 166, 95, 0.9);
  color: #fff;
  font-size: 15px;
  border-color: transparent;
  pointer-events: none;

}

#LocTitle {
  margin-left: 0px;
  margin-top: 10px;
  padding: 2px 5px;
  color: #fff;
  font-size: 11px;
  background-color: rgb(89,89,89);
  pointer-events: none;
  border-color: transparent;
}


.product-tabs {
    position: absolute;
    width: 300px;
    padding-top: -10px;
}

.nav-tabs {
    text-align: center;
    margin-top: 10px;
    border-bottom: 3px solid #ddd;
}

.nav-tabs > li {
    float: none;
    display: inline-block;
    margin-bottom: -3px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-tabs>li>a:hover {
    border-color: #eee #eee #ddd;
    border-color: transparent;
    background-color: transparent;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: 1px solid transparent;
    border-bottom-color:black;
    border-bottom-width: 3px;
    background-color: rgb(255, 255, 255);

}

.tab-pane{
    padding-right: 50px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.nav-tabs p {
  font-size: 17px;
  /* NEW 16/05 */
  font-family: "Roboto Lt", sans-serif;
  color: rgb(40, 40, 40);
}

.arrow{
  position:absolute; 
  height: 30px; 
  width: 100px; 
  left:45px; 
  bottom:5%;
}